*{
    margin: 0;
    padding: 0;
}
main{
    background-color: whitesmoke;
}
/* ........header style........... */
/* ............................... */
.top-banner{
    background-color:  #2D25A0;
    width: 100%;
    height: 675px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.banner h1{
    font-size: 64px;
    font-family: Poppins;
    font-weight: bold;
    line-height: 80px;
    color: #FFFFFF;
}
.banner a{
    color: white;
    text-decoration: none;
    background: #E02C6D;
    border: 1px solid red;
    padding: 15px;
    width: 200px;
    text-align: center;
    font-size: xx-large;
    margin-top: 27px;
    display: inline-block;
    
}
.banner img{
    width: 556px;
    height: 438px;
} 

/* .......section style......... */
/* ............................. */
.players{
    width: 350px;
    height: 474px;
}
.player img{
    width: 320px;
    height: 230px;
    padding: 15px;
}
.player-detail{
    width: 320px;
    padding: 15px;
}
.player-detail h1{
    font-size: xx-large;
    margin-bottom: 20px;
}
.player-detail p{
    text-align: justify;
}   
.top-players{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    
}
.top-player{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    width: 1050px;
    margin-top: 70px;
}
.players{
    background-color:  #FFFFFF;
    box-shadow: 0px 0px 40px rgba(235, 230, 230, 0.952);
}
/* .............second section style............... */
/* ........................... */

.biggest-player{
    background-color: whitesmoke;
     
}
.gallaries{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.gallary{
    width: 466px;
    height: 310px;
    margin-left: 100px;
    margin-right: 70px;
    display: flex;
    flex-direction: column;
    align-self: center;
}
.gallary h1{
    font-size: 50px;
    font-weight: bold;
}
.gallary p{
    font-size: 20px;
}
.gallary a{
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid red;
    background: #E02C6D;
    width: 200px;
    padding: 15px;
    text-align: center;
    color: white;
    font-size: xx-large;
}
.photo{
    margin-left: 50px;
}
.photo img{
    width: 567px;
    height: 427px;
}

/* .......footer style......... */
/* ............................... */
.top-football{
    background-color: whitesmoke;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}.football h1{
    text-align: center;
    font-size: 70px;
}
.football .fa-futbol{
    font-size: 70px;
}
.football span{
    font-style: italic;
    margin-left: 40px;
}
.football p{
    text-align: center;
    margin: 20px;
    font-size: 25px;
}
 .football .fab, .fas{
    display: inline-block;
    font-size: 30px;
    margin-left: 10px;
}
/* --------media queries--------- */
/* ............................... */

/* --------mobile devices------- */
@media only screen and (max-width: 688px) {
     .top-banner{
         display: grid;
         grid-template-columns: repeat(1,1fr);
     }
     .banner{
         width: 100%;
     }
     .banner img{
         width: 100%;
     }
     .top-player{
         grid-template-columns: repeat(1,1fr);
     }
     .gallaries{
         flex-direction: column;
     }
     .photo img{
         width: 100%;
         height: 60%;
         margin-top: 50px;
     }
    .gallary,.photo{
        width: 100%;
    }

}
 /* ---------tablet devices-------------- */
 @media only screen and (min-width: 688px) and (max-width: 992px) {
     .top-banner{
         display: grid;
         grid-template-columns: repeat(2,1fr);
        
     }
     .top-player{
         grid-template-columns: repeat(2,1fr);
     }
     .gallaries{
         display: grid;
         grid-template-columns: repeat(2,1fr);
     }
}